body{
  text-align: left;
  margin-top: 30px;
  background: #FFE600;
}

header{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.9;
}

footer{
  text-align: center;
  font-size: 12px
}