.Search section {
    background: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
    padding:30px;
    border-radius: 10px;
    margin: 20px 0;
}
.Search section h2{
    font-size: 18px;
    font-weight: bold;
}
.searchBar {
 border-radius: 4px;
 border: 1px solid black;
 color:#333;
}
.enter {
margin-left: 2px;
     border-radius: 4px;
 border: 1px solid;
}
    
.Search .hint{
    font-size: 10px;
    margin-top:5px;
}
